[Unit]
Description=Notes app
Wants=notes-backend.service notes-frontend.service
After=notes-backend.service notes-frontend.service

[Install]
WantedBy=default.target
